/*
Error: Invalid CSS after "...( $white, 10% )": expected "{", was ";"
        on line 441 of /Users/ccarino/sundial_bones/library/scss/breakpoints/_base.scss
        from line 69 of /Users/ccarino/sundial_bones/library/scss/./style.scss

436: 				header.page-color-#{$pagecolor},
437: 				.hentry.page-color-#{$pagecolor} {
438: 					color: $white;
439: 					background-color: $color;
440: 					a {
441: 						darken( $white, 10% );
442: 						text-decoration: none;
443: 						&:hover, &:active {
444: 							color: darken( $white, 20% );
445: 						}
446: 					}

Backtrace:
/Users/ccarino/sundial_bones/library/scss/breakpoints/_base.scss:441
/Users/ccarino/sundial_bones/library/scss/./style.scss:69
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:1162:in `expected'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:1098:in `expected'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:1093:in `tok!'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:638:in `block'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:658:in `block_child'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:647:in `block_contents'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:639:in `block'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:658:in `block_child'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:639:in `block'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:658:in `block_child'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:647:in `block_contents'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:639:in `block'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:334:in `else_block'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:321:in `if_directive'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:219:in `special_directive'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:194:in `directive'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:658:in `block_child'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:647:in `block_contents'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:639:in `block'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:304:in `each_directive'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:219:in `special_directive'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:194:in `directive'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:657:in `block_child'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:42:in `parse'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/engine.rb:403:in `_to_tree'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/engine.rb:309:in `to_tree'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/stack.rb:88:in `block in with_import'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/stack.rb:88:in `with_import'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/root_node.rb:20:in `render'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/engine.rb:278:in `render'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/ccarino/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...( $white, 10% )\": expected \"{\", was \";\"\A         on line 441 of /Users/ccarino/sundial_bones/library/scss/breakpoints/_base.scss\A         from line 69 of /Users/ccarino/sundial_bones/library/scss/./style.scss\A \A 436: 				header.page-color-#{$pagecolor},\A 437: 				.hentry.page-color-#{$pagecolor} {\A 438: 					color: $white;\A 439: 					background-color: $color;\A 440: 					a {\A 441: 						darken( $white, 10% );\A 442: 						text-decoration: none;\A 443: 						&:hover, &:active {\A 444: 							color: darken( $white, 20% );\A 445: 						}\A 446: 					}"; }
