/******************************************************************
Site Name: SheaMoisture v1.5
Author: Chad A. Carino

Stylesheet: Alert Styles

If you want to use these alerts in your design, you can. If not,
you can just remove this stylesheet.

******************************************************************/



// alerts and notices
%alert {

  	background: rgba($warmer-tan, 0.5) url("#{$imgThis}error.png") no-repeat scroll 1% 50%;
    min-height: 400px;
    text-align: center;
	
	form {
	
		padding-left: 33%;
	
		h1 {
			text-transform: uppercase;
			font-size: 2em;
			margin-bottom: 0.1em;
			line-height: 0.8em;
			padding-top: 15%;
		}
		
		.notice {
			font-family: $sans-serif;
			text-transform: uppercase;
			font-size: 1.1em;
		}
	
		.button, .button .btn {
		
			min-width: 1em;
			width: auto;
			display: inline-block;
			margin-top: 1em;
		
		}
	
	}
	
}

.alert-help {
  @extend %alert;
}

.alert-info {
  @extend %alert;
}

.alert-error {
  @extend %alert;
}

.alert-success {
  @extend %alert;
}

.alert-img {
    line-height: 2.5em;
    margin: 0 .5em 0 0;
    display: inline;
    color: $deeporange;
}


@media only screen and (max-width:768px) {

	%alert {
		background-color: $warmer-tan;
		background-position: 50% 5%;
		background-size: 25% auto;
		
		form {
		
			padding-left: 0;
		
			h1 {
				padding-top: 35%;
			}
		
		}
		
	}

}
