/******************************************************************
Site Name: SheaMoisture v1.5
Author: Chad A. Carino

Stylesheet: Alert Styles

If you want to use these alerts in your design, you can. If not,
you can just remove this stylesheet.

******************************************************************/



// alerts and notices
%alert {

	background: $warmer-tan url("#{$imgThis}error.png") no-repeat scroll 1% 50%;
	background-size: contain;
	min-height: 12em !important;
	text-align: center;
	padding: 0 !important;
	color: $shea-brown;
	

	.screenMask {
		background: rgba($warmer-tan, 0.5);
		height: 100%;
		width: 100%;
		min-height: 12em;
		display: inline-block;
	}

	h1 {
		text-transform: uppercase;
		font-size: 1.25em;
		margin-bottom: 0.1em;
		line-height: 0.8em;
		text-align: right;
		margin-right: 4em;
	}
	
	.notice {
		font-family: $sans-serif;
		text-transform: uppercase;
		font-size: 1.1em;
	}
	
	ul {
		text-align: left;
		margin-right: 4em;
		list-style-type: disc;
		float: right;
	}

	.button, .button .btn {
	
		min-width: 1em;
		width: auto;
		display: inline-block;
		margin-top: 1em;
	
	}

}

.alert-help {
  @extend %alert;
}

.alert-info {
  @extend %alert;
}

.alert-error {
  @extend %alert;
}

.alert-success {
  @extend %alert;
}

.alert-img {
    line-height: 2.5em;
    margin: 0 .5em 0 0;
    display: inline;
    color: $deeporange;
}


@media only screen and (max-width:768px) {

	%alert {
		background-color: $warmer-tan;
		background-position: 5% 5%;
		background-size: 25% auto;
		
		form {
		
			padding-left: 0;
		
			h1 {
				padding-top: 35%;
			}
		
		}
		
	}

}

@media only screen and (min-width:1030px) {

	%alert {
		text-align: center;
		
		h1 {
			text-align: inherit;
    		margin-right: 0;
    	}
    	
    	ul.notice {
    		float: none;
			margin-right: 0;
			text-align: inherit;
			list-style-position: inside;
    	}
		
	}

}
