/******************************************************************
Site Name: SheaMoisture v1.5
Author: Chad A. Carino

Stylesheet: Button Styles
******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  font-family: $sans-serif;
	color: $cool-tan;
	text-transform: uppercase;
	background: $shea-brown;
	padding: 0.7em 1em;
	text-align: center;
	min-width: 14em;
	cursor: pointer;
	border: 0;
	@include transition(all .25s ease-in-out);
	
	
	
	
	i.fa {
// 		float: left;
		margin: 0 0.5em;
	}
	

  // hovering on the btn
  &:hover, &:focus {
    background: lighten($shea-brown, 20%);
	color: $cool-tan;
		
		
	}
	

} // end .button

.button-right {
	float: right;
	
	&:before {
		content: " ";
		display: table;
	}
	
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
	
}

.button-left {
	float: left;
	
	&:before {
		content: " ";
		display: table;
	}
	
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
	
}

.btn-block {
	@extend %btn;
	display: block;
	width: auto;
	text-align: left;
	padding: 1em 0;
}

.btn-transparent {
	@extend %btn;
	background: transparent;
	color: $shea-brown;
	font-family: $serif;
	font-weight: 700;
	min-width: 1em;	
	
	&:hover,
	&:focus,
	&:active {
		color: lighten($shea-brown, 20%);
		background: transparent;
	}
	
}

.btn-positive {
	@extend %btn;
	background: $confirmation;
	color: $shea-brown;
	
	&.btn-transparent {
		color: $confirmation;
		background: transparent;
	}
	
	&:hover,
	&:focus,
	&:active {
		
		background: darken($confirmation, 20%);
		color: $cool-tan;
		
		&.btn-transparent {
			color: darken($confirmation, 20%);
			background: transparent;
		}
		
		
		
	}
	
}

.btn-negative {

	@extend %btn;
	background: $warning;
	
	&.btn-transparent {
		color: $warning;
		background: transparent;
	}
	
	&:hover,
	&:focus,
	&:active {
	
		background: lighten($warning, 20%);
		color: $shea-brown;

		&.btn-transparent {
			color: lighten($warning, 20%);
			background: transparent;
		}
	
	}
	
}

.btn-disabled {

	@extend %btn;
	background: $disabled-gray;
	color: $dark-gray;
	cursor: not-allowed;
	
	&.btn-transparent {
		background: transparent;
		color: $disabled-gray;
	}
	
	&:hover,
	&:focus,
	&:active {
	
		background: $disabled-gray;
		color: $dark-gray;
	
		&.btn-transparent {
			color: lighten($shea-brown, 20%);
			background: transparent;
		}
	
	}
	
}
