/******************************************************************
Site Name: SheaMoisture v1.5
Author: Chad A. Carino

Stylesheet: Category Styles

	e.g. collections, ingredients
******************************************************************/
#itemsBlock {
	margin: 0 auto;
	width: 100%;
	
	.row {
		margin-left: 0.5em;
		
		> div {
			text-align: center;
		}
		
	}
	
	.products-header.row {
		font-family: $sans-serif;
		padding: 0.5em 1em;
		background: $warm-tan;
		margin-left: 0;
		

		.paging {
			margin: 0;
			float: none;
			
			strong {
				text-decoration: underline;
				margin-left: 5px;
				padding: 3px;
			}
			
		}
	
	}
	
	.paging.bottom {
		float: none;
		margin: 0 auto;
	}
	
}



#category {

	.category-header {

		background-color: $orange;
		text-align: center;
		text-transform: uppercase;
		padding: 2em 5%;

		h1 {
			font-size: 2.5em;
			margin: 0;
		}

		p {
			font-family: $sans-serif;
			line-height: 1em;
			font-weight: 700;
		}
	
		> div {
			text-transform: none;
		}

	}
	
	.page-header {
		text-align: center;
	}
	
	.root-category, .separate-headers {
	
		.page-header {

			background-color: $warm-tan;
			padding: 2em 0;
			text-align: initial;
		
			h1 {
				text-transform: uppercase;
				font-size: 1.5em;
				font-family: $sans-serif;
				text-align: center;
			}
		
			.cat-header-wrapper {
				width: 95%;
				margin: 0 auto;
				display: flex;
				justify-content: center;
				flex-direction: column;
			
				ul {
				
					li {
						list-style-type: disc;
						list-style-position: inside;
					}
				
				}
			
			}

		}

	}
	
}

@each $class, $colors in $boxcolors {

	.titles.#{$class} {
		background-color: nth($colors, 1);
		color: nth($colors, 2);
	}
	

		
	#subcategoriesBlock ul li .sub-categories.#{$class} {
		
		background-color: hsl(hue(nth($colors, 1)), 5%, lightness(nth($colors, 1)));
			
		.img > a {
			outline: none;
			color: nth($colors, 2);
			
			&:visited {
				color: nth($colors, 2);
			}
		
			&:hover, &:active {
				color: nth($colors, 2);
			
				.subcat-name {
					color: nth($colors, 2);
					background-color: nth($colors, 1);
				}
			
			}
			
	
		}
		
		&:hover {
			background-color: nth($colors, 1);
		}
	
		&.active {
			background-color: nth($colors, 1);
			
			.img > a {
			
				.subcat-name {
					color: nth($colors, 2);
					background-color: nth($colors, 1);
				}
			
			}
			
		}
	
	}
	
	#subcategoriesBlock .sub-cat-info.#{$class} {
		background-color: nth($colors, 1);
		color: nth($colors, 2);
	
		a {
			color: nth($colors, 2);
		
			&:hover, &:active {
				color: nth($colors, 3);
			}
		
		}
	
		.btn {
			color: nth($colors, 1);
			background-color: nth($colors, 2);
			
			&:visited {
				color: nth($colors, 1);
			}
			
			&:hover, &:active {
				background-color: nth($colors, 3);
				color: nth($colors, 1);
			}
	
		}
	
	}

}

