/******************************************************************
Site Name: SheaMoisture v1.5
Author: Chad A. Carino

Stylesheet: Slider Styles
******************************************************************/

/*
Revolution Slider
 */

.rev_slider_wrapper.fullwidthbanner-container {
	overflow: hidden !important;
}
