/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/


.ttfdown {
	display: none;
}

a, a:visited {

	&[name] {
	  padding-top: 8rem;
	  margin-top: -8rem;
	  display: inline-block;
	}

}

/*********************
NAVIGATION STYLES
*********************/
header.header{
	
	#logo {
	
		img {
			max-height: 1em;
		}
	
	}
	
	nav {
		position: relative;
		top: -0.25em;
		
		.nav {
			border: 0;
		
				li {
					display: inline-block;
					position: relative;
					height: auto;
					left: 0;

					a {
						border-bottom: 0;
						position: relative;
						opacity: 1;
						font-size: 0.75em;

						/*
						you can use hover styles here even though this size
						has the possibility of being a mobile device.
						*/
						&:hover, &:focus {
							color: $white;
							text-decoration: underline;
						}
					}
			

					&:first-child {}
					&:last-child {}

				}

				/* highlight sub-menu current page */
				li.current-menu-item,
				li.current_page_item,
				li.current_page_ancestor {
					a {}
				}
		

			

			/* highlight current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}  /* end current highlighters */

		} /* end .nav */

	}	//end nav

}

#content {

	
	.giant-footer {
			top:12em;
		h1{
			font-size: 10em;
		}
	}
	.cAc_wpsml-pageSection {
	
		@each $class, $colors in $colorclasses {
		
			&.cAc_wpsml-bg.#{$class} {
			
				background-color: nth($colors, 1);
				color: $white;
			
				.cAc_wpsml-content {
					background-color: rgba(nth($colors, 1), 0);
				}
			}
		}
		
	}
	
}
