/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

#menu-main {
	font-size: 1em;
	left: -1.25em;
}

.hentry {
	min-height: 100%;
}
